body {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    height: 360px;
    width: 240px;
    margin: 15px;
    padding-bottom: 10px;
}

img {
  margin-top: -10px;
  border-style: none;
}

#myForm {
  margin-bottom: 25px;
}

h2 {
  font-family: 'Roboto', sans-serif;
  color:Tomato;
  margin-bottom: 0.3em;
}

.range {
  margin: 15px;
}

.addedElement {
  display: none;
  padding-bottom:10px;
}

#text {
  font-size: 13px;
  width: 70%;
  margin-left: 35px;
}

#addedText{
  font-size: 15px;
  width: 80%;
  margin-left: 25px;
}

#rangeSlider{
  margin-top: 10px;
  margin: 15px;
}

#timer{
  font-size: 26px;
}

#startButton {
  margin-top: 1em;

  width: 9em;
  height: 3em;
  font-size: 17px;
  font-weight: 5em;
  border-radius: .5em;
  color: #fff;
  padding: 6px 12px;
  background-color: #4CAF50;
  display: inline-block;
  text-align: center;
  cursor: pointer;
}

#startButton:hover {
  background-color: #3e8e41
}

#startButton:focus {
  outline: 0;
}

#warning {
  font-size: 15px;
  color:red;
}
